<div class="main-container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 center">
            <button
                class="col-xs-12 col-sm-6 col-md-3 btn btn-primary"
                (click)="getMode()">Open</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 center">
            <button class="col-xs-12 col-sm-6 col-md-3 btn btn-success">Something</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 center">
            <button class="col-xs-12 col-sm-6 col-md-3 btn btn-warning">Home</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 center">
            <button class="col-xs-12 col-sm-6 col-md-3 btn btn-warning" disabled>Light</button>
        </div>
    </div>
</div>
