.center {
    text-align: center;
    align-items: center;
    align-content: center;
}

.custom {
    padding: 0;
    border: none;
    background: none;
}

.btn-home {
    font-size: 20px;
    padding-top: 30%;
    padding-bottom: 50%;
    background: #ffffff;
    border: none;
}

.btn {
    color : #3e3e3e;
}

.content-container {
  background : linear-gradient(45deg, #218dc2, #f2635f);
}

div.row {
  height: 50%;
}

.status {
    font-weight: bold;
    font-size: 20px;
    margin: 30px 20px 5px 20px;
    padding: 20px;
    background : rgb(255, 255, 255);
    flex: 0 0 95.7%;
    border-radius: 5px;
}

.status-text {
    padding-left: 10px;
    vertical-align: middle;
}
