.center {
    text-align: center;
    align-items: center;
    align-content: center;
}

.custom {
    padding: 0;
    border: none;
    background: none;
}

.btn-home {
    padding-top: 30%;
    padding-bottom: 50%;
    background: #ffffff;
    border: none;
}

.btn {
    color : #3e3e3e;
}

.content-container {
  background : linear-gradient(45deg, #218dc2, #f2635f);
}

div.row {
  height: 50%;
}
